<template>
    <div class="flex h-screen bg-yellow-100">
        <div class="m-auto font-bold">
            <p class="text-3xl px-5 py-2 rounded-md bg-yellow-400 text-yellow-800">This is a Laravel 7 + Vue.js + Inertia.js + Tailwind Css Boilerplate</p>
        </div>
    </div>
</template>

<script>
export default {};
</script>

<style></style>
